.sidebar {
  background: #E4EBF5;
  box-shadow:.8rem .8rem 1.4rem #c8d0e7, 
            -.2rem -.2rem 1.8rem #FFFFFF;
  border-radius: 30px;
  width: 30%;
  transition: all .4s ease;
}
.sidebar__header {
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 12.5rem;
}
.sidebar__title h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.sidebar__note {
  text-align: start;
  padding: 10px;
  border-width: 2px 0px;
  border-style: solid;
}
.sidebar__note:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.sidebar__note-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 0;
}
.sidebar__buttons-container {
  display: flex;
  justify-content: space-between;
}
.sidebar__button {
  box-shadow: 3px 3px 6px #c8d0e7, -2px -2px 5px #ffffff;
  background-color: unset;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: .5rem;
  transition: all .4s ease;
}
.sidebar__button_save {
  width: 2.8rem;
  height: 2.8rem;
  color: unset;
  border: unset;
  font-weight: bold;
  height: 30px;
  width: 30px;
  position: relative;
}
.sidebar__button_save:hover {
  color: #6d5dfc;
}
.sidebar__button_save:after, .sidebar__button_save:before {
  content: "";
  display: block;
  background-color: #9baacf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sidebar__button_save:before {
  height: 1em;
	width: 0.15em;
}
.sidebar__button_save:after {
  height: 0.15em;
	width: 1em;
}
.sidebar__button_save:hover:before {
  height: 1em;
  width: 0.2em;
  background-color: #6d5dfc;
}
.sidebar__button_save:hover:after {
  height: 0.2em;
  width: 1em;
  background-color: #6d5dfc;
}
.sidebar__button_delete {
  color: #9baacf;
  border: unset;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}
.sidebar__button_delete:hover {
  color: #6d5dfc;
}
.sidebar__input {
  font: inherit;
  font-weight: bold;
  border-color: transparent;
  border-width: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #ffffff;
  background: none;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 0.8rem;
  margin: 1rem 0;
}
.sidebar__input::placeholder {
  color: #9baacf;
}
.sidebar__input:focus {
  outline: none;
}
.sidebar__notes-container {
  overflow-y: scroll;
  height: 31rem;
  width: 98%;
}
.sidebar__sortBy-container {
  text-align: left;
}
